<% if user_signed_in? %>
    <div class="sm-container">
      <%= react_component 'component.User', {user: json_for(current_user)} %>
    </div>
<% else %>
    <div class="container">
      <div class="welcome-page">
        <h1 class="title"><%= t('welcome.title') %></h1>

        <h2 class="subtitle"><%= t('welcome.subtitle') %></h2>

        <div class="sign-up-links">
          <a class="github-sign-in" href="<%= user_omniauth_authorize_path(:github) %>">
            Sign up with Github <%= fa_icon 'github' %>
          </a>
        </div>
        <br>
        <% languages = {ruby: {name: 'rubocop', url: 'https://github.com/bbatsov/rubocop'},
                        javascript: {name: 'jshint', url: 'http://jshint.com/'},
                        coffeescript: {name: 'coffeelint', url: 'http://www.coffeelint.org/'},
                        typescript: {name: 'tslint', url: 'https://github.com/palantir/tslint'}} %>
        <div class="available-languages">
          <div class="flex">
            <% languages.each do |language, linter| %>
                <a href="<%= linter[:url] %>" class="shadow-box language-box" target="_blank">
                  <div class="box-title">
                    <%= language.capitalize %>
                  </div>
                  <div class="box-subtitle">
                    <%= linter[:name] %>
                  </div>
                </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>

